## Consumer Price Index Data Frame for Athelete Minimum Cost Comparison ##

In [2]:
# Package Installations
import pandas as pd
import os
!pip install xlrd

Collecting xlrd
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [3]:
file_path = '/home/jovyan/Project2/CPI/food_affordability_CA.xls'
affordability_CA = pd.read_excel(file_path)
affordability_CA.head()

,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,county_fips,...,median_income,affordability_ratio,LL95_affordability_ratio,UL95_affordability_ratio,se_food_afford,rse_food_afford,food_afford_decile,CA_RR_Affordability,ave_fam_size,version
0,757,Food affordability for female-headed household...,2006-2010,1.0,AIAN,CA,6.0,California,NaN,NaN,...,23777.0,0.315779,0.231517,0.400043,0.042991,13.614342,NaN,1.185347,3.34,2013-04-12 04:33:06.235
1,757,Food affordability for female-headed household...,2006-2010,2.0,Asian,CA,6.0,California,NaN,NaN,...,38508.0,0.194980,0.183065,0.206895,0.006079,3.117814,NaN,0.731900,3.34,2013-04-12 04:33:06.235
2,757,Food affordability for female-headed household...,2006-2010,3.0,AfricanAm,CA,6.0,California,NaN,NaN,...,26192.0,0.286664,0.279661,0.293666,0.003573,1.246349,NaN,1.076054,3.34,2013-04-12 04:33:06.235
3,757,Food affordability for female-headed household...,2006-2010,4.0,Latino,CA,6.0,California,NaN,NaN,...,22858.0,0.328475,0.322637,0.334314,0.002979,0.906881,NaN,1.233004,3.34,2013-04-12 04:33:06.235
4,757,Food affordability for female-headed household...,2006-2010,5.0,NHOPI,CA,6.0,California,NaN,NaN,...,36737.0,0.204379,0.173762,0.234997,0.015621,7.643255,NaN,0.767183,3.34,2013-04-12 04:33:06.235

## Regional CPI ##

The followings are the census divisions: 
New England, Middle Atlantic, East North Central, West North Central, South Atlantic, East South Central, West South Central, Mountain, and  Pacific. Each dataframe has the CPI for each census region with the monthly CPI changes as well as annual and first half and second half.

In [4]:
#All the file path
file_path_1 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_EastSouthCentral.csv'
file_path_2 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_MiddleAtlantic.csv'
file_path_3 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_East_North_Central.csv'
file_path_4 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_Mountain.csv'
file_path_5 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_NewEngland.csv'
file_path_6 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_Pacific.csv'
file_path_7 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_SouthAtlantic.csv'
file_path_8 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_WestNorthCentral.csv'
file_path_9 = '/home/jovyan/Project2/CPI/Census_Divisions/CPI_WestSouthCentral.csv'

#individual files for each census regions
CPI_East_South_Central = pd.read_csv(file_path_1)
CPI_Middle_Atlantic = pd.read_csv(file_path_2)
CPI_East_North_Central = pd.read_csv(file_path_3)
CPI_Mountain = pd.read_csv(file_path_4)
CPI_NewEngland = pd.read_csv(file_path_5)
CPI_Pacific = pd.read_csv(file_path_6)
CPI_South_Atlantic = pd.read_csv(file_path_7)
CPI_West_North_Central = pd.read_csv(file_path_8)
CPI_West_South_Central = pd.read_csv(file_path_9)

#example of a dataframe
CPI_East_South_Central

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
0,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000,NaN,NaN,NaN
1,2018,100.553,100.987,101.314,101.786,102.112,102.204,102.203,101.993,101.879,102.217,101.814,100.929,101.666,101.493,101.839
2,2019,101.116,101.712,102.336,102.541,102.455,102.478,102.724,102.590,102.397,102.457,102.530,102.426,102.314,102.106,102.521
3,2020,102.776,102.771,102.751,101.878,101.703,102.401,103.319,103.617,103.581,103.820,103.710,104.179,103.042,102.380,103.704
4,2021,105.077,105.706,106.817,107.669,108.861,109.882,110.293,110.235,110.370,111.341,111.793,111.575,109.135,107.335,110.935
5,2022,112.368,113.558,115.235,116.043,117.285,119.152,119.130,118.532,118.540,118.947,118.830,118.814,117.203,115.607,118.799
6,2023,119.810,120.973,121.282,122.069,122.567,123.082,123.385,123.838,123.999,123.920,123.556,123.186,122.639,121.631,123.647
7,2024,124.107,125.231,126.131,126.846,127.152,127.224,127.317,127.445,127.966,128.254,128.459,128.250,127.032,126.115,127.949
8,2025,128.938,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Clean the Dataframe to make it easier to work with ##

In [5]:
import pandas as pd

# Dictionary of DataFrames
cpi_dfs = {
    "CPI_East_South_Central": CPI_East_South_Central,
    "CPI_Middle_Atlantic": CPI_Middle_Atlantic,
    "CPI_East_North_Central": CPI_East_North_Central,
    "CPI_Mountain": CPI_Mountain,
    "CPI_NewEngland": CPI_NewEngland,
    "CPI_Pacific": CPI_Pacific,
    "CPI_South_Atlantic": CPI_South_Atlantic,
    "CPI_West_North_Central": CPI_West_North_Central,
    "CPI_West_South_Central": CPI_West_South_Central
}

# Loop through all DataFrames and set "Year" as the index
for name, df in cpi_dfs.items():
    if "Year" in df.columns:  # Check if "Year" column exists
        df.set_index("Year", inplace=True)

# Now all DataFrames have "Year" as the index

CPI_East_North_Central

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual,HALF1,HALF2
Year,,,,,,,,,,,,,,,
2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000,NaN,NaN,NaN
2018,100.694,100.780,100.903,101.429,101.892,101.984,101.849,101.800,101.977,101.982,101.569,101.226,101.507,101.280,101.734
2019,101.457,102.212,102.656,102.928,103.246,103.178,103.432,103.521,103.564,103.804,103.614,103.605,103.101,102.613,103.590
2020,104.130,104.271,103.675,102.423,102.887,103.724,104.254,104.745,104.842,104.787,104.456,104.479,104.056,103.518,104.594
2021,105.024,105.925,106.623,107.470,108.498,109.476,110.136,110.248,110.465,111.421,111.949,112.265,109.125,107.169,111.081
2022,113.270,114.287,115.714,116.197,118.062,120.218,119.823,119.483,119.794,120.134,119.877,119.173,118.003,116.291,119.714
2023,120.275,120.738,121.651,122.432,122.832,123.181,123.558,123.424,123.278,123.157,123.038,122.867,122.536,121.852,123.220
2024,123.327,123.920,124.812,125.474,125.803,125.927,126.529,126.534,126.541,126.517,126.402,126.635,125.702,124.877,126.526
2025,127.521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2017 is the base year for CPI calculation for all the dataframe. We will use the formula:

## Calculating Adjusted Cost of Minimum Diet Using CPI

To determine the cost of a minimum diet for each region, we use the Consumer Price Index (CPI) as an adjustment factor. The formula is given by:

$$
\text{Adjusted Cost}_{\text{region}} = \text{Base Cost} \times \frac{\text{CPI}_{\text{region}}}{\text{CPI}_{\text{base}}}
$$

where:
- **$\text{Adjusted Cost}_{\text{region}}$** is the estimated cost of the minimum diet in the specific region.
- **$\text{Base Cost}$** is the reference cost of the minimum diet (typically from a standard region or dataset).
- **$\text{CPI}_{\text{region}}$** is the Consumer Price Index for the specific region.
- **$\text{CPI}_{\text{base}}$** is the CPI of the reference region.

This method adjusts the base cost according to regional price variations, ensuring that the diet cost reflects local economic conditions.

In [6]:
import os
%run "/home/jovyan/Project2/VEGAN_Final.ipynb"

Requirement already satisfied: eep153_tools in /srv/conda/lib/python3.11/site-packages (0.12.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python_gnupg in /srv/conda/lib/python3.11/site-packages (0.5.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gspread_pandas in /srv/conda/lib/python3.11/site-packages (3.3.0)
Requirement already satisfied: gspread<6,>=5.0.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.12.4)
Requirement already satisfied: pandas>=0.20.0 in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.2.3)
Requirement already satisfied: decorator in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (5.1.1)
Requirement already satisfied: google-auth in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (2.38.0)
Requirement already satisfied: google-auth-oauthlib in /srv/conda/lib/python3.11/site-packages (from gspread_pandas) (1.2.1)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (5.5.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in /srv/conda/lib/python3.11/site-packages (from google-auth->gspread_pandas) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /srv/conda/lib/python3.11/site-packages (from google-auth-oauthlib->gspread_pandas) (2.0.0)
Requirement already satisfied: numpy>=1.23.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/lib/python3.11/site-packages (from pandas>=0.20.0->gspread_pandas) (2025.1)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /srv/conda/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth->gspread_pandas) (0.6.1)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.20.0->gspread_pandas) (1.17.0)
Requirement already satisfied: oauthlib>=3.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /srv/conda/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib->gspread_pandas) (2024.12.14)
Note: you may need to restart the kernel to use updated packages.

,ingred_code,Ingredient description,Capric acid,Lauric acid,Myristic acid,Palmitic acid,Palmitoleic acid,Stearic acid,Oleic acid,Linoleic Acid,...,Vitamin B12,"Vitamin B-12, added",Vitamin B6,Vitamin C,Vitamin D,Vitamin E,"Vitamin E, added",Vitamin K,Water,Zinc
0,1001,"Butter, salted",2.529,2.587,7.436,21.697,0.961,9.999,19.961,2.728,...,0.17,0.0,0.003,0.0,0.0,2.32,0.0,7.0,15.87,0.09
1,1002,"Butter, whipped, with salt",2.039,2.354,7.515,20.531,1.417,7.649,17.370,2.713,...,0.07,0.0,0.008,0.0,0.0,1.37,0.0,4.6,16.72,0.05
2,1003,"Butter oil, anhydrous",2.495,2.793,10.005,26.166,2.228,12.056,25.026,2.247,...,0.01,0.0,0.001,0.0,0.0,2.80,0.0,8.6,0.24,0.01
3,1004,"Cheese, blue",0.601,0.491,3.301,9.153,0.816,3.235,6.622,0.536,...,1.22,0.0,0.166,0.0,0.5,0.25,0.0,2.4,42.41,2.66
4,1005,"Cheese, brick",0.585,0.482,3.227,8.655,0.817,3.455,7.401,0.491,...,1.26,0.0,0.065,0.0,0.5,0.26,0.0,2.5,41.11,2.60

/tmp/ipykernel_69/3073712158.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  vegan_recipes['ingred_wt'] = vegan_recipes['ingred_wt']/vegan_recipes.groupby(['parent_foodcode'])['ingred_wt'].transform("sum")

recipe_id
11115400    kefir ns as to fat content
11440060                  tzatziki dip
11551050             licuado or batido
11553100            fruit smoothie nfs
11710000            infant formula nfs
Name: recipe, dtype: object
Index(['2011/2012', '2013/2014', '2015/2016', '2017/2018'], dtype='object', name='year')
We have prices for 4435 unique recipes (FNDDS food codes)
                                                       price
kefir ns as to fat content                          0.345625
tzatziki dip                                        1.217789
licuado or batido                                   0.189099
fruit smoothie nfs                                  0.462558
infant formula readytofeed similac expert care ...  1.074909
                 11115400  11440060  11551050  11553100 11710051 11710055  \
Capric acid        0.0195  0.005673   0.00048  0.000813    0.689    0.689
Lauric acid         0.026  0.000273  0.000959  0.001626    0.023    0.023
Myristic acid      0.0945  0.000545  0.000959  0.001626    0.007    0.007
Palmitic acid      0.2805    5.7604  0.053557  0.083665    0.137    0.137
Palmitoleic acid   0.0185  0.638909  0.005183  0.008129    0.003    0.003

                  11710357  11710358 11710377 11710378  ... 95312410 95312560  \
Capric acid       0.078597  0.078597      0.0      0.0  ...      0.0      0.0
Lauric acid       0.486647  0.486647      0.0      0.0  ...      0.0      0.0
Myristic acid     0.183183  0.183183      0.0      0.0  ...      0.0      0.0
Palmitic acid     0.258139  0.258139      0.0      0.0  ...      0.0      0.0
Palmitoleic acid  0.002386  0.002386      0.0      0.0  ...      0.0      0.0

                 95312600 95312700 95313200 95320200 95320500 95322200  \
Capric acid           0.0      0.0      0.0      0.0    0.001      0.0
Lauric acid           0.0      0.0      0.0      0.0    0.004      0.0
Myristic acid         0.0      0.0      0.0      0.0    0.001      0.0
Palmitic acid         0.0      0.0      0.0      0.0    0.001      0.0
Palmitoleic acid      0.0      0.0      0.0      0.0      0.0      0.0

                 95322500 95330100
Capric acid           0.0      0.0
Lauric acid           0.0      0.0
Myristic acid         0.0      0.0
Palmitic acid         0.0      0.0
Palmitoleic acid      0.0      0.0

[5 rows x 1834 columns]
bmin.shape=(26,)
Amin.shape=(26, 1834)
bmax.shape=(1,)
Amax.shape=(1, 1834)
b.shape=(27,)
A.shape=(27, 1834)
prices.shape=(1834, 1)
Cost of diet for a vegan Female_endurance_athlete is $3.97 per day.
Cost of diet for a vegan Female_endurance_athlete is $3.97 per day.

As a vegan Female_endurance_athlete you'll be eating (in 100s of grams or milliliters):

vermicelli made from soybeans                    3.18
peanuts unroasted                                1.04
flax seeds                                       0.02
cereal toasted oat                               3.40
beans and rice with tomatoes                     2.40
ripe plantain raw                                1.81
cilantro raw                                     0.20
nutritional powder mix high protein herbalife    0.07
dtype: float64
Dietary recommendations (RDA) for Female_endurance_athlete
Nutrient
Energy            2800.0
Protein             80.0
Carbohydrate       488.0
Dietary Fiber       28.0
Linoleic Acid       12.0
Linolenic Acid       1.1
Calcium           1000.0
Iron                22.0
Magnesium          310.0
Phosphorus         700.0
Potassium         4700.0
Zinc                 8.0
Copper               0.9
Selenium            55.0
Vitamin A          700.0
Vitamin E           15.0
Vitamin D           25.0
Vitamin C           75.0
Thiamin              1.1
Riboflavin           1.1
Niacin              14.0
Vitamin B6           1.3
Vitamin B12          2.4
Choline            425.0
Vitamin K           90.0
Folate             400.0
Name: Female_endurance_athlete, dtype: float64

NameError: name 'linprog' is not defined

NameError: name 'linprog' is not defined

## Change the variable name and structure AFTER sorting out the FINAL files ##

In [ ]:
min_price_vegan_m_endurance_ath = result.fun
diet_vegan_m_endurance_ath = diet[diet >= tol]
min_price_vegan_m_endurance_ath
#diet_vegan_m_endurance_ath

## The Calculated Adjusted Minimum Cost Diet as a Dataframe ##

In [ ]:
CPI_East_North_Central.head()

In [ ]:
import pandas as pd

# Dictionary containing all CPI DataFrames
cpi_dfs = {
    "East_South_Central": CPI_East_South_Central,
    "Middle_Atlantic": CPI_Middle_Atlantic,
    "East_North_Central": CPI_East_North_Central,
    "Mountain": CPI_Mountain,
    "NewEngland": CPI_NewEngland,
    "Pacific": CPI_Pacific,
    "South_Atlantic": CPI_South_Atlantic,
    "West_North_Central": CPI_West_North_Central,
    "West_South_Central": CPI_West_South_Central
}

# Define base year and minimum cost of diet
base_year = 2017  #  CPI base year for all census region
min_price_vegan_m_endurance_ath = min_price_vegan_m_endurance_ath 

# Create an empty list to store results
adjusted_cost_data = []

# Loop through each region's CPI data
for region, df in cpi_dfs.items():
    # Ensure Year is the index and fetch CPI values
    if base_year in df.index and 2024 in df.index:
        cpi_base = df.loc[base_year, "Dec"]  # CPI for base year is given in December
        cpi_latest = df.loc[2024, "Annual"]  # CPI for latest available year which is 2024
        # Calculate adjusted diet cost
        adjusted_cost = min_price_vegan_m_endurance_ath * (cpi_latest / cpi_base)
        
        # Append results
        adjusted_cost_data.append([region, adjusted_cost])

# Convert results to DataFrame
adjusted_cost_df = pd.DataFrame(adjusted_cost_data, columns=["Region", "Adjusted_Cost"])

# Display the DataFrame in Jupyter Notebook
display(adjusted_cost_df)  # For Jupyter Notebook

In [ ]:
def adjust_cost_by_cpi(min_price, cpi_dfs, base_year=2017, latest_year=2024):
    """
    Adjusts a base diet cost using CPI data from multiple regions and returns
    a DataFrame with the region name and adjusted costs.

    Parameters:
    -----------
    min_price : float
        Minimum diet cost to be adjusted (e.g., min_price_vegan_m_endurance_ath)
    cpi_dfs : dict of pd.DataFrame
        Dictionary keyed by region. Each value is a DataFrame with CPI data for multiple years,
        where the DataFrame index is years, and includes columns like 'Dec' and 'Annual'
    base_year : int, default 2017
        The year in the DataFrame(s) to use as a CPI base.
    latest_year : int, default 2024
        The year in the DataFrame(s) to use as the CPI for the latest adjustment.

    Returns:
    --------
    pd.DataFrame
        A DataFrame with columns ["Region", "Adjusted_Cost"] where "Region" is the key
        from the dictionary, and "Adjusted_Cost" is the adjusted cost for that region.
    """
    adjusted_cost_data = []

    for region, df in cpi_dfs.items():
        # We check both the base and latest years are present in the index
        if base_year in df.index and latest_year in df.index:
            cpi_base = df.loc[base_year, "Dec"]
            cpi_latest = df.loc[latest_year, "Annual"]
            
            # Calculate the adjusted cost
            adjusted_cost = min_price * (cpi_latest / cpi_base)
            
            # Append to our list of results
            adjusted_cost_data.append([region, adjusted_cost])

    # Convert to DataFrame
    adjusted_cost_df = pd.DataFrame(adjusted_cost_data, columns=["Region", "Adjusted_Cost"])

    return adjusted_cost_df

In [ ]:
# pick a demographic (column from rda dataframe)
'''
select from 
['Female_19_30', 'Female_endurance_athlete', 'Male_19_30', 'Male_endurance_athlete']
'''
group = "Female_endurance_athlete"

# create lower bounds and upper bounds.
bmin = rda.loc[rda['Constraint Type'].isin(['RDA', 'AI']), group]
bmax = rda.loc[rda['Constraint Type'].isin(['UL']), group]

# reindex ensures we only keep nutrients in bmin/bmax
Amin = A_all.reindex(bmin.index).dropna(how='all')
Amax = A_all.reindex(bmax.index).dropna(how='all')

b = pd.concat([bmin, -bmax])
A = pd.concat([Amin, -Amax])

#python tip: by typing "=" after the variable name inside the curly braces, it formats the output so we don't have to write f"variable = {variable}"
print(f"{bmin.shape=}")
print(f"{Amin.shape=}")
print(f"{bmax.shape=}")
print(f"{Amax.shape=}")
print(f"{b.shape=}")
print(f"{A.shape=}")
print(f"{prices.shape=}")